torch
opencv-python
torchvision
pytorch-lightning>=1.0.7
test-tube
youtube-dl
boto3
h5py
nilearn
pylibjpeg
pylibjpeg-libjpeg
matplotlib
lz4
ray[tune]
gym
dm-tree
opencv-python
pydicom
scikit-image
plotly==4.12.0
deepmerge
decord
requests
pytorch3d
visdom